﻿@{
    ViewBag.Title = "Home Page";
}



<div class="index" ng-controller="main-controller">
    <input class="form-ctrl" ng-model="search" placeholder="Buscar..." />

    <div class="table-responsive overflow-auto" style="height: 500px;">

        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th class="table-head">Numero</th>
                    <th class="table-head">Nombre</th>
                    <th class="table-head">Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in raffles | filter: search">
                    <td class="table-data">
                        <span class="table-span">
                            <ion-icon name="paw"></ion-icon> {{item.Number}}
                        </span>
                    </td>
                    <td class="table-data">{{item.Name}}</td>
                    <td class="table-data">{{item.Phone}}</td>
                   
                </tr>
            </tbody>
        </table>

    </div>


</div>


<div id="main">
    <div ng-view></div>
</div>
