﻿
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="index" ng-controller="main-controller">
        <input class="form-ctrl" ng-model="search" placeholder="Buscar..." />
        <div class="row">
            <div class="col-lg-7">
                <div class="table-responsive overflow-auto" style="height: 500px;">

                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="table-head">Numero</th>
                                <th class="table-head">Nombre</th>
                                <th class="table-head">Telefono</th>
                                <th class="table-head"></th>
                                <th class="table-head"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in raffles | filter: search">
                                <td class="table-data">
                                    <span class="table-span">
                                        <ion-icon name="paw"></ion-icon> {{item.Number}}
                                    </span>
                                </td>
                                <td class="table-data">{{item.Name}}</td>
                                <td class="table-data">{{item.Phone}}</td>
                                <td>
                                    <button class="btn btn-delete"  ng-click="deleteNumber(item.Id)">
                                        <ion-icon name="close"></ion-icon>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-change"  ng-click="selectNumber(item.Id)">
                                        <ion-icon name="create"></ion-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-5">
                <form name="newNumber">
                    <div class="form-card">
                        <h2><ion-icon name="add"></ion-icon>Agregar</h2>
                        <label>Numero</label>
                        <input type="text" class="form-ctrl" ng-model="number" required />
                        <label>Nombre</label>
                        <input type="text" class="form-ctrl" ng-model="name" />
                        <label>Telefono</label>
                        <input type="text" class="form-ctrl" ng-model="phone" />

                        @*<div ng-show="status==''">

                        </div>*@

                        <button class="btn btn-save" ng-click="saveNumber()" ng-disabled="newNumber.$invalid"><ion-icon name="checkmark"></ion-icon> Guardar</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
}
else
{
    <div class="index">
        <h1 style="color:red;">Acceso denegado</h1>
    </div>
}
