﻿.vacaciones {
    margin: 10px 0;
    min-width: 100px;
    width: 90%;
    background-color: #fff;
    border: solid 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding:10px;
}

    #vacaciones-cant{
        color:darkred;
        font-size:26px;
        font-weight:700;
    }

.hide {
    display: none;
}