﻿@using FundacionPerritos.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="index">

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="text-center icon">
                <img src="~/Content/images/usuario.png" width="100" height="100" />
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "text-center " })
                <center>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </center>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "text-center" })
                <center>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </center>
            </div>
            @*<div class="form-group ">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-save" />
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>

            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </section>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}